.banner-container {
    position: relative;

}

.trail-image-text {
    position:absolute;
    top: 200px;
    left:10px;

}

.trail-banner-img {
    height: 312px;
    width: 1022px;
    object-fit: cover;
}

.trail-banner-park-name {
    color: white;
    font-family: arial;
    font-size: 14px;
    padding-top: 10px;
}

.trail-banner-park-name:hover {
    color: lightblue;
    cursor: pointer;
}

.banner-options {
    background-color: #428a13;
    height: 55px;
    width: 1022px;
    position: relative;
    bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-options:hover {
    background-color: #a4da81;
}

.directions-icon {
    height: 48px;
    width: 48px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 25px;
    box-shadow: 0 2px 8px 0 black;

    
}

.directions-pic {
    width: 24px;
    height: 24px;
    border-radius: 50%;

}

.trail-park {
    background: green;
    color: white;
    width: 72px;
    display: inline-block;
    border-radius: 6px;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 1.42;
}
