
.park-show-container {
    width: 1022px;
    margin: auto;

}

.park-header {
    line-height: 1.13;
    letter-spacing: -.3px;
    color: black;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 32px;
}

.park-description {
    font-size: 18px;
    line-height: 1.44;
    font-family: arial;
    padding-top: 10px;
    padding-bottom: 20px;
}

.middle-park-show {
    width: 763px;
}

.park-header {
    line-height: 1.13;
    letter-spacing: -.3px;
    color: black;
    font-weight: 600;
    font-family: sans-serif;
    width: 763px;
    height: auto;
}

.directions-icon2 {
    height: 48px;
    width: 48px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 2px 8px 0 black;
    transition: .2s ease-in-out;

    
}

.directions-icon2:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.buttons-park {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
}

.directions-text-park {
    padding-left: 15px;
    color: #428a12;
    font-family: sans-serif;
}

.park-trail-list-container {
    border-top: 1px solid lightgrey;
}

.park-trail-item-container {
    width: 992px;
    height: 192px;
    padding: 16px;
    display: flex;
    background-color: lightblue;
    border-radius: 5px;
    margin-bottom: 25px;
    box-shadow: 0 8px 16px 0 grey;
    transition: background-color .2s ease-in-out;
}

.park-trail-item-container:hover {
    background-color: #d6f1f9;
}

.park-trail-item-pic {
    width: 288px;
    height: 192px;
    object-fit: cover;
    border-radius: 7px;
}

.park-trail-item-info {
    padding-left: 30px;
    font-family: arial;
    color: #414142;
}

.park-trail-item-info {
    font-size: 18px;
    height: 24px;
    line-height: 24px;
    font-weight: 700;
}

.park-trail-parkname {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.park-trail-length {
    font-size: 14px;
    font-weight: 400;
    padding-top: 5px;
}

.park-trail-description {
    font-weight: 400;
    font-size: 16px;
    padding-top: 10px;
    max-width: 674px;
}

.park-trail-list-header {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -.2px;
    color: #414141;
    font-family: sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}

.show-page-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;
}

.picture-carousel {
    margin-bottom: 15px;
}