
.form-container {
    height: 1000px;
    background-image: url(https://cdn.pixabay.com/photo/2015/10/12/15/01/mountain-984083_1280.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
}




.user-auth-forms {
    border-radius: 15px;
    background-color: white;
    display: flex;
    position: relative;
    box-shadow: 0 8px 16px black;
    top: 40px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 432px;
    height: 550px;
    padding: 24px;
    font-family: arial;
}

.user-auth-forms > label{
    font-family: sans-serif;
    
}

.user-auth-forms > h1 {
    font-family: arial;
    color: steelblue;
    font-size: x-large;
    font-weight: 600;
}


.user-form-input {
    border: 1px solid lightblue;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    
}

.user-form-error {
    color: #fccb7c;
}

.user-auth-forms > button{

    font-family: arial;
    width: 438px;
    height: 39px;
    background-color: steelblue;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: initial;
}

.user-auth-forms > button:hover {
    background-color: lightblue;
    transition: background-color .2s ease-in-out;
    cursor: pointer;
}

.form-link {
    color: steelblue;
}

.form-link:hover {
    color: lightblue;
}

